<div>

<h1>Información</h1>


<p>Esto trata sobre la incorporación de plantillas html en un proyecto. </p>

</div>

<a href="/pages/index" class="pogo1"><span class="fa-solid fa-house">Inicio</span></a>


<section id="thumbnails">
						<article>
							<a class="thumbnail" href="https://picsum.photos/id/10/2040/1080" data-position="left center"><img src="https://picsum.photos/id/10/2040/1080" alt="" /></a>
							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
                        </section>

